<%-include("partials/header")-%>
<div style="padding-top:5rem ; " ></div>

<section class="container-fluid home cards">

    <div class="row ">
      <div class="col-lg-6">
        <img src="/img/CARDS.png" alt="" >
      </div>
        <div class="col-lg-6 home">
            <h2 style="margin-bottom: 3rem; margin-top: 10rem;">HM Pay Cards</h2 > 
            <a href="https://www.stcpay.com.sa/en/page/cards" class="ultimate_carousel_btn" style="position: relative; left: 20rem; margin-top: 3rem; padding: 8px 22px;font-size: 16px; border-radius: 6px; color: #ffffff; border: 1px solid #fff; background-color: rgba(255,255,255,0.01);" tabindex="-1">
									More								</a>
       
        
    </div>
</section>
  </div>
  <section class="container s1">
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-12">
      <img src="/img/home/Purchases.png" alt="">
      <h2>Purchases</h2>
      <p>Pay for your purchases from merchants anytime, anywhere</p>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <img src="/img/home/International Remittance.png" alt="">
      <h2>International Remittance</h2>
      <p>Transfer internationally to more than 525,000 Western Union agent</p>
    </div>
    
    <div class="col-lg-4 col-sm-12 col-md-12">
      <img src="/img/home/Transfer via mobile number.png" alt="">
      <h2>Transfer via mobile number</h2>
      <p>Send and receive money with family & friends from your contacts!</p>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-12">
      <img src="/img/home/Transfertolocalbanks.png" alt="">
      <h2>Transfer to local banks</h2>
      <p>Transfer money to local bank account in Saudi Arabia</p>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <img src="/img/home/stc Services.png" alt="">
      <h2>stc Services</h2>
      <p>Pay your stc bills or recharge your sawa</p>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <img src="/img/home/Cash withdrawal.png" alt="">
      <h2>Cash withdrawal</h2>
      <p>Withdraw cash from your mobile through ANB Bank ATM</p>
    </div>
    </div>
  </section>
 <%-include("partials/footer")-%>
