<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pricing example · Bootstrap v5.0</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link href="/css/styles.css" rel="stylesheet">
     <script data-ad-client="ca-pub-3881820146541244" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg  fixed-top  nav stroke ">
      <a href="#" class="navbar-brand">
        <!-- Logo Image -->
        <img src="/img/Logo.jpg" width="45" alt="" class="d-inline-block align-middle mr-2">
        <!-- Logo Text -->
        Pay
      </a>
      <button class="navbar-toggler navbar-dark  " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse stroke" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item active">
            <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Features">Features</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cards  ▼
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/Classic" style="color: black;">Classic</a>
              <a class="dropdown-item" href="/Gold" style="color: black;"">Gold</a>
              <a class="dropdown-item" href="/Platinum" style="color: black;" >Platinum</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  <body>
     <div >

      




