<%-include("partials/header")-%>
<div style="padding-top:5rem ; " ></div>
  <div class=" bg ">
<h1><%= Scope %> </h1>
  </div>
  <section class="container s1">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="/img/InstantRefund.png" alt="" style="width: 405;" height="241">
      <h2>Instant Refund</h2>
      <p>When needed, you can instantly refund money to the customers</p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img src="/img/TransactionVisibility.png" alt="">
      <h2>Transaction Visibility</h2>
      <p>The app gives you the ability to easily track your transaction</p>
    </div>
  </div>
    <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="/img/Secur Payment.png" alt="">
      <h2>Secure Payment</h2>
      <p>Guaranteed management of your finances quickly and securely</p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img src="/img/EasytoActivate.png" alt="">
      <h2>Easy to Activate</h2>
      <p>Minimum Requirements. Activate the service in minutes</p>
    </div>
    </div>
  </section>
 <%-include("partials/footer")-%>
