<%-include("partials/header")-%>
<div style="padding-top:5rem ; " ></div>

<section class="container-fluid Platinum cards">

    <div class="row ">
        <div class="col-lg-6 col-sm-6">
            <p>HM pay Platinum card</p>
            <h2>The first card you </h2>
            <h2 style="position:relative; right: 6rem;">control…</h2> 
         </div>
        <div class="col-lg-6 col-sm-6">
         <img src="/img/Platinum.png" alt="" style="height: 500px;">
        </div>
        
    </div>
</section>





<div style="padding-top:10rem ; " ></div>

<section class="container ">
    <div class="row ">

        <div class="col-lg-4 img-bg card-features" style="margin: auto; ">
            <img src="/img/air.png" alt="" >
           </div>

        <div class="col-lg-4 img-bg card-features" style="margin: auto; ">
         <img src="/img/true.png" alt="" >
        </div>

        <div class="col-lg-4 img-bg card-features" style=" margin: auto;">
          <img  src="/img/cash.png" alt="">
        </div>
        <div class="w-100 d-none d-md-block"></div>

        <div class="col-lg-4 col-sm-4 card-features">
            <p style="margin: auto;">Airport Lounge Access<br>
                Via DragonPass</p>
          </div>

        <div class="col-lg-4 col-sm-4 card-features">
            <p style="margin: auto;">Full control<br>
                of your card</p>
          </div>
          <div class="col-lg-4 col-sm-4 card-features ">
            <p style="margin: auto;">1%<br>
                cashback</p>
          </div>
    </div>

</section>

<%-include("partials/footer")-%>
